.part_0 {
    height: 60px;
}

.logo {
    height: 30px;
    margin-left: 20px;
}

.order_now {
    font-size: 19px;
    margin-right: 20px;
}

.hover_line {
    height: 3px;
}

.part_1 {
    height: 670px;
}

.interface_image {
    height: 450px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 200px;
}

.title {
    width: 100%;
    font-size: 60px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: left;
    margin-top: -600px;
    z-index: 99;
    position: relative;
}

.part_3 {
    height: 500px;
}

.our_service {
    font-size: 24px;
    right: 40px;
}

.what_i_do {
    line-height: 60px;
    font-size: 32px;
    padding-left: 40px;
    padding-right: 40px;
}

.our_technology {
    font-size: 24px;
}

.language_container {
    width: 80%;
}

.lan_icon {
    width: 35px;
}

.description_language {
    width: 80%;
    margin-left: 10%;
}

#desc {
    font-size: 22px;
}

.part_7 {
    height: 500px;
}

.about_me {
    font-size: 24px;
    margin-left: 40px;
}